<div class="ss-cart-drawer empty" id="ss-cart-drawer">
  <div class="head">
    <a id="close-cart-drawer" class="close-cart-drawer">
      &#x2715;
    </a>
  </div>
  <div class="body">
    <p class="empty-message">
      Your cary is empty
    </p>
  </div>
</div>

<div id="ss-overlay" class="ss-overlay">

</div>

{% schema %}
{
  "name": "Cart Drawer",
  "target": "body",
  "stylesheet": "cart-drawer.css",
  "javascript": "cart-drawer.js",
  "settings": []
}
{% endschema %}
